/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes burger-animation-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
    opacity: 0;
  }
}

@keyframes burger-animation-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
    opacity: 0;
  }
}

@-webkit-keyframes burger-animation-center {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  40% {
    -webkit-transform: rotate(0deg) translateY(9px);
            transform: rotate(0deg) translateY(9px);
  }

  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@keyframes burger-animation-center {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  40% {
    -webkit-transform: rotate(0deg) translateY(9px);
            transform: rotate(0deg) translateY(9px);
  }

  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@-webkit-keyframes burger-animation-bottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  33% {
    -webkit-transform: rotate(0deg) translateY(9px);
            transform: rotate(0deg) translateY(9px);
  }

  100% {
    -webkit-transform: rotate(90deg) translateX(-33%);
            transform: rotate(90deg) translateX(-33%);
  }
}

@keyframes burger-animation-bottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  33% {
    -webkit-transform: rotate(0deg) translateY(9px);
            transform: rotate(0deg) translateY(9px);
  }

  100% {
    -webkit-transform: rotate(90deg) translateX(-33%);
            transform: rotate(90deg) translateX(-33%);
  }
}

@-webkit-keyframes burger-animation-top-reverse {
  80% {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes burger-animation-top-reverse {
  80% {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes burger-animation-center-reverse {
  0% {
    -webkit-transform: rotate(315deg) translateY(0px);
            transform: rotate(315deg) translateY(0px);
  }

  20% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }

  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes burger-animation-center-reverse {
  0% {
    -webkit-transform: rotate(315deg) translateY(0px);
            transform: rotate(315deg) translateY(0px);
  }

  20% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }

  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes burger-animation-bottom-reverse {
  0% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }

  20% {
    -webkit-transform: rotate(-270deg) translateY(15px) scale(1.2);
            transform: rotate(-270deg) translateY(15px) scale(1.2);
  }

  80% {
    -webkit-transform: rotate(0deg) translateX(0%);
            transform: rotate(0deg) translateX(0%);
  }
}

@keyframes burger-animation-bottom-reverse {
  0% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }

  20% {
    -webkit-transform: rotate(-270deg) translateY(15px) scale(1.2);
            transform: rotate(-270deg) translateY(15px) scale(1.2);
  }

  80% {
    -webkit-transform: rotate(0deg) translateX(0%);
            transform: rotate(0deg) translateX(0%);
  }
}

@-webkit-keyframes dropdown {
  0% {
    top: -200px;
    opacity: 0;
  }

  65% {
    top: 20px;
  }

  75% {
    top: -15px;
  }

  85% {
    top: 10px;
  }

  95% {
    top: -10px;
  }

  100% {
    top: 0px;
  }
}

@keyframes dropdown {
  0% {
    top: -200px;
    opacity: 0;
  }

  65% {
    top: 20px;
  }

  75% {
    top: -15px;
  }

  85% {
    top: 10px;
  }

  95% {
    top: -10px;
  }

  100% {
    top: 0px;
  }
}

.head-section,
.navbar-container,
.github,
.advantages,
.section-container,
.pricing,
.additional-info::after,
.pricing-wrapper {
  margin: 0 auto;
}

:hover,
:active,
:focus {
  outline: none;
}

.header {
  min-width: 320px;
  width: 100%;
  position: absolute;
}

.head-section {
  height: 800px;
  max-width: 1200px;
  background-image: url(../img/header-background.png);
  background-position: 50% 100%;
  position: relative;
  z-index: -1;
  margin-bottom: 155px;
}

.head-section::after {
  content: "Unlimited 30-Days Trial Period";
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #848E97;
  top: 800px;
  width: 100%;
  padding: 50px 0 20px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: right;
  cursor: pointer;
}

.header-logo__img {
  width: 43px;
  height: 43px;
  background-image: url(../img/header-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo__text {
  font-family: "Lato", sans-serif;
  color: #8d81ac;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 15px;
}

.header-logo:hover .header-logo__img {
  background-image: url(../img/logo-hover.png);
}

.header-logo:hover .header-logo__text {
  color: #ffffff;
}

.navbar-container {
  display: grid;
  grid-template-columns: 17% 1fr 17%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 20px auto;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: right;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 0 3%;
}

.navbar-nav__item {
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
}

.navbar-nav__item :hover {
  color: #ffffff;
}

.navbar-nav__item a {
  text-decoration: none;
  color: #8d81ac;
  text-transform: capitalize;
}

.navbar__button,
.pricing-item__btn {
  background-color: #8d81ac;
  width: 145px;
  height: 37px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 37px;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  justify-self: left;
  cursor: pointer;
}

.navbar__button:hover,
.pricing-item__btn:hover {
  background-color: #ffffff;
  color: #8d81ac;
  border: 2px solid #8d81ac;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.title-container {
  text-align: center;
  padding-top: 83px;
}

.title-container__title {
  color: #ffffff;
  font-size: 82px;
  display: inline-block;
  margin-top: 70px;
}

.title-container__description {
  font-size: 30px;
  color: #8d81ac;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 20px 0;
}

.title-container__info {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #848E97;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 769px;
  z-index: 3;
}

.header__btn-download {
  background-color: #8d81ac;
  width: 390px;
  height: 62px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 62px;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 21px;
  outline: none;
}

.header__btn-download:hover {
  background-color: #ffffff;
  color: #8d81ac;
  border: 2px solid #8d81ac;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.github {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github__title {
  font-size: 54px;
  text-transform: uppercase;
  color: #635C73;
  margin-bottom: 35px;
  text-align: center;
}

.github__text {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  color: #323232;
  max-width: 860px;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 5%;
}

.github-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.github__btn {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 12px;
  font-size: 12px;
  text-transform: capitalize;
  background-color: #fafbfc;
  border-radius: 6px;
  border: 1px solid #d8d9db;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.github__btn:hover {
  background-color: #f3f4f6;
}

.github__btn:active {
  background-color: #edeff2;
}

.github__icon {
  height: 15px;
  margin-right: 10px;
}

.github__counter {
  background-color: #ffffff;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d8d9db;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 12px;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
}

.github__counter a {
  text-decoration: none;
  color: #323232;
  font-weight: 700;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.github__counter a:hover {
  color: #0000ff;
}

.advantages {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 705px;
  grid-template-rows: 50px 1fr;
  background-color: #f4f4f4;
  padding-top: 85px;
}

.advantages-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: 1/1/3/2;
}

.advantages-column__title {
  color: #8d81ac;
  font-size: 48px;
  line-height: 50px;
  margin-left: 20px;
}

.advantages-column__img {
  width: 700px;
  height: 519px;
  background-image: url(../img/content.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-start;
  grid-area: 2/2/3/3;
}

.column-item {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: auto auto;
  margin: 0 0 7% 35px;
}

.column-item__icon {
  grid-area: 1/1/3/2;
  margin-right: 24px;
}

.column-item__title {
  color: #323232;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 15px;
}

.column-item__text {
  color: #848e97;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-right: 3%;
}

.section-container,
.pricing {
  max-width: 1200px;
  background-image: url(../img/testimonial-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding: 90px 3% 0;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-perspective: 10000px;
          perspective: 10000px;
}

.testimonial-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  width: 306px;
  color: #ffffff;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  margin: 100px 0;
}

.testimonial-item__img {
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonial-item:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.additional-info {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #A291A5;
  padding-bottom: 30px;
}

.additional-info::after {
  content: "";
  display: block;
  position: relative;
  top: 15px;
  height: 2px;
  width: 80%;
  background-color: #645766;
}

.pricing {
  background-image: url(../img/pricing-background.png);
  margin-top: -2px;
}

.pricing-wrapper {
  width: 1166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .section-title {
  margin-bottom: 40px;
}

.pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 257px;
  height: 457px;
  background-color: rgba(255, 255, 255, 0.11);
  color: #ffffff;
  font-weight: 400;
  margin: 0 12px 30px 12px;
}

.pricing-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 97px;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.06);
}

.pricing-item__price {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.pricing-item__price::before {
  content: "$";
  font-weight: 400;
}

.pricing-item__price::after {
  content: "per month";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
}

.pricing-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
  text-align: center;
}

.pricing-item__description::before {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #8d81ac;
  margin-bottom: 30px;
}

.pricing-item__btn {
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 39px;
}

.pricing-item__btn:hover {
  background-color: rgba(255, 255, 255, 0.35);
  color: #ffffff;
  border: none;
}

.pricing-item__btn:active {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0 0 4px #ffffff;
          box-shadow: 0 0 4px #ffffff;
}

.pricing-item--hot {
  width: 299px;
  height: 560px;
  background-color: rgba(70, 48, 72, 0.84);
}

.pricing-item--hot .pricing-item__title {
  height: 111px;
  background-color: rgba(0, 0, 0, 0.11);
}

.pricing-item--hot .pricing-item__price {
  font-size: 82px;
}

.pricing-item--hot .pricing-item__description {
  margin-bottom: 80px;
}

.pricing-item--hot .pricing-item__description::before {
  margin-bottom: 40px;
}

.pricing-item--hot .pricing-item__btn {
  width: 190px;
  height: 52px;
  margin-bottom: 47px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (max-width: 1166px) {
  .pricing .section-title {
    font-size: 42px;
    line-height: 44px;
  }

  .pricing-wrapper {
    width: 604px;
  }
}

@media (max-width: 1100px) {
  .advantages {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #ffffff;
  }

  .advantages-column {
    grid-area: 2/1/3/2;
  }

  .advantages-column__title {
    grid-area: 1/1/2/3;
    justify-self: center;
    margin-bottom: 50px;
    font-size: 42px;
  }

  .advantages-column__img {
    grid-area: 3/1/4/2;
    justify-self: right;
  }
}

@media (max-width: 768px) {
  .github__title {
    font-size: 42px;
    line-height: 42px;
  }

  .section-title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 700px) {
  .advantages {
    grid-template-columns: minmax(320px, 700px);
    text-align: center;
  }

  .advantages-column__title {
    margin-left: 0;
    padding: 0 5%;
    font-size: 32px;
  }

  .advantages-column__img {
    justify-self: center;
    width: 100%;
    height: 381px;
    background-position: right;
  }

  .column-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px;
  }

  .column-item__icon,
  .column-item__title,
  .column-item__text {
    margin: 0 0 18px;
    padding: 0 5%;
  }
}

@media (max-width: 604px) {
  .pricing .section-title {
    font-size: 28px;
    line-height: 42px;
  }

  .pricing-wrapper {
    width: 299px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 550px) {
  .github__title {
    font-size: 26px;
    line-height: 26px;
  }

  .github__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .btn-container {
    top: 778px;
  }

  .header__btn-download {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header {
    background-color: #27262a;
  }

  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }

  .header-logo__text,
  .header-navbar {
    display: none;
  }

  .meta-btn {
    display: block;
    width: 27px;
    height: 27px;
  }

  .meta-btn__lines,
  .meta-btn__lines::before,
  .meta-btn__lines::after {
    position: relative;
    top: 9px;
    width: 26px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .meta-btn__lines {
    -webkit-animation: burger-animation-center-reverse 1s ease-out;
            animation: burger-animation-center-reverse 1s ease-out;
  }

  .meta-btn__lines::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 10px;
    width: 16px;
    -webkit-animation: burger-animation-top-reverse 1s ease-out;
            animation: burger-animation-top-reverse 1s ease-out;
  }

  .meta-btn__lines::after {
    content: '';
    position: absolute;
    top: 9px;
    -webkit-animation: burger-animation-bottom-reverse 1s ease-out;
            animation: burger-animation-bottom-reverse 1s ease-out;
  }

  .navbar__button,
  .pricing-item__btn {
    background-color: #8d81ac;
    width: 119px;
    height: 37px;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 37px;
    border: none;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    outline: none;
  }

  .active .meta-btn__lines::before {
    -webkit-animation: burger-animation-top 0.7s forwards;
            animation: burger-animation-top 0.7s forwards;
  }

  .active .meta-btn__lines {
    -webkit-animation: burger-animation-center 0.7s ease-in forwards;
            animation: burger-animation-center 0.7s ease-in forwards;
  }

  .active .meta-btn__lines::after {
    -webkit-animation: burger-animation-bottom 0.7s ease-out forwards;
            animation: burger-animation-bottom 0.7s ease-out forwards;
  }

  .active.header-navbar {
    display: block;
    position: absolute;
    top: 100px;
    width: 93%;
  }

  .active .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 360px;
    -webkit-animation: dropdown 1s;
            animation: dropdown 1s;
    z-index: 20;
  }

  .active .navbar-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    width: 100%;
    font-size: 26px;
    background-color: #333333;
    border-bottom: 2px solid #3B3B3B;
    cursor: pointer;
  }

  .active .navbar-nav__item a {
    color: #ffffff;
    margin-left: 35px;
  }

  .active .navbar-nav__item:hover a {
    color: #8d81ac;
  }

  .active .navbar-nav__item:active,
  .active .navbar-nav__item:focus {
    border-left: 8px solid #8d81ac;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .active .navbar-nav__item:active a,
  .active .navbar-nav__item:focus a {
    color: #8d81ac;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .title-container__title {
    font-size: 48px;
  }

  .title-container__description {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 20px 20px;
  }

  .title-container__info {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  body {
    width: 320px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .header {
    background-color: #27262a;
  }

  .header-logo {
    justify-self: left;
    margin-left: 15px;
  }

  .navbar__button,
  .pricing-item__btn {
    grid-area: 1/3/2/4;
    justify-self: right;
    margin-right: 15px;
  }

  .navbar-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
    margin-bottom: 0;
  }

  .header-navbar {
    grid-area: 2/1/3/4;
    justify-self: center;
  }

  .navbar-nav__item:last-child {
    margin-right: 0;
  }

  .title-container__title {
    font-size: 72px;
  }

  .title-container__description {
    font-size: 24px;
    line-height: 28px;
    padding: 0 3%;
  }

  .title-container__info {
    font-size: 14px;
  }
}